<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>採用お問い合わせ - 国土技建株式会社</title>

<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="ja">
<meta name="keywords" content="国土技建株式会社,国土技建　広島,公共工事全般,道路関連工事,交通安全施設工事">
<meta name="description" content="人に優しい地域づくりの実現を目指して――私たちは高品質の安心・安全を創るプロフェッショナルです">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="css/privacy.css" media="all">
<!-- ink rel="stylesheet" type="text/css" href="css/sp.css" media="all" media="all and (max-width:480px)" -->
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body class="drawer">
  <section class="l-full">
    <h1 class="l-full-title"><a href="index.html"><img src="img/logo2.png" width="247" height="40" alt="国土技建株式会社"></a></h1>
    <div class="p-contact">
      <h2 class="p-contact-title">採用お問い合わせ</h2>
      <p class="p-contact-lead">お問い合わせを受け付けました</p>
        <div class="p-contact-check">
          <a href="index.html" class="p-contact-check-button c-secondary-button">TOPへ戻る</a>
        </div>
    </div>
  </section>

<%- include('./include/_footer') %>
