<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>採用情報 - 国土技建株式会社</title>

<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="content-language" content="ja">
<meta name="keywords" content="国土技建株式会社,国土技建　広島,公共工事全般,道路関連工事,交通安全施設工事">
<meta name="description" content="人に優しい地域づくりの実現を目指して――私たちは高品質の安心・安全を創るプロフェッショナルです">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="css/privacy.css" media="all">
<!-- ink rel="stylesheet" type="text/css" href="css/sp.css" media="all" media="all and (max-width:480px)" -->
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var li_1 = "";    
    $('.ul_open_v').append(li_1);
    $('.ul_open_h').append(li_1);

    $('.btn-1').click(function () {
        $('.open-1').toggleClass('active');
        $(this).toggleClass('on');
        $(this).toggleClass('move-1');
    });

    $('.btn-2').click(function () {
        $('.open-2').toggleClass('active');
        $(this).toggleClass('on');
        $(this).toggleClass('move-2');
    });
//ハンバーガー
      $('.hamburger').click(function() {
        $(this).toggleClass('active');
 
        if ($(this).hasClass('active')) {
            $('.globalMenuSp').addClass('active');
        } else {
            $('.globalMenuSp').removeClass('active');
        }
    });

});
</script>

</head>
<body class="drawer drawer--right" ontouchstart="">
<%- include('./include/_header') %>
  <section class="mainContetntsW p-recruit" id="recruit">
    <div class="main p-recruit-main">
      <img src="img/recruit_head.jpg" width="1280" height="200" alt="">
    </div>
    <div class="mainContetntsInner conBox">
      <h2><img src="img/recruit_midashi.png" width="398" height="98" alt="RECRUITMENT 採用情報"></h2>
      <div class="p-recruit-block">
        <h3 class="p-recruit-headline c-title-border">募集要項</h3>
        <table class="p-recruit-box">
          <tbody>
            <tr>
              <th>雇用形態</th>
              <td><strong>正社員</strong></td>
            </tr>
            <tr>
              <th>勤務時間</th>
              <td>
                <strong>8：00〜17：00（休憩60分）</strong>
                <div class="p-recruit-box-item">
                  <small class="small-indent">※1年単位の変形労働時間制／週平均40時間以内</small>
                  <small class="small-indent">※残業月平均20時間程度</small>
                  <small class="small-indent">※現場管理の場合は、出先現場への直行及び直帰可能！</small>
                </div>
              </td>
            </tr>
            <tr>
              <th>勤務地</th>
              <td>
                <dl class="p-recruit-box-dl">
                  <dt class="p-recruit-box-dt is-strong"><strong>■本社</strong></dt>
                  <dd class="p-recruit-box-dd">
                    <strong>広島県東広島市西条昭和町12番7号</strong>
                    <dl class="p-recruit-box-dl">
                      <dt class="p-recruit-box-dt">○交通アクセス：</dt>
                      <dd class="p-recruit-box-dd">
                        JR「西条」駅より車で5分<br>
                        JR「東広島」駅より車で13分
                      </dd>
                    </dl>
                  </dd>
                </dl>
                <div class="p-recruit-box-item">
                  <dl class="p-recruit-box-dl">
                    <dt class="p-recruit-box-dt is-strong"><strong>■呉支店</strong></dt>
                    <dd class="p-recruit-box-dd">
                      <strong>広島県呉市安浦町内海南6丁⽬13番18号</strong>
                      <dl class="p-recruit-box-dl">
                        <dt class="p-recruit-box-dt">○交通アクセス：</dt>
                        <dd class="p-recruit-box-dd">
                          JR「安浦」駅より車で4分
                        </dd>
                      </dl>
                    </dd>
                  </dl>
                  <div class="p-recruit-box-remark">
                    <strong>【転勤なし・マイカー通勤OK】</strong><br>
                    <small>※現場管理希望者のマイカー通勤は試用期間を経た後、社有車通勤も可</small><br>
                    <strong>希望を考慮し、本社(東広島)または呉支店に配属</strong>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>給与</th>
              <td>
                <strong>月給20万円〜50万円 ＋ 諸手当 ＋ 賞与2回</strong>
                <div class="p-recruit-box-item">
                  <small class="small-indent">※年齢、経験、能⼒を考慮の上、優遇します。</small>
                  <small class="small-indent">※待遇条件の詳細については、面接などでご相談ください。</small>
                  <small class="small-indent">※上記は30分(5〜10万円)の固定残業代を含みます。超過分は別途支給します。</small>
                  <small class="small-indent">※最長3ヶ月間の試用期間あり（賃金同⼀）</small>
                </div>
              </td>
            </tr>
            <tr>
              <th>昇給・賞与</th>
              <td>
                <strong>
                  昇給年1回（3000円〜2万円）<br>
                  賞与年2回（10〜65万円）
                </strong>
                <div class="p-recruit-box-item">
                  <small>※前年度実績</small>
                </div>
              </td>
            </tr>
            <tr>
              <th>諸手当</th>
              <td>
                <strong>
                  通勤手当（上限2万円）<br>
                  家族手当（1〜2万円）<br>
                  技術手当（1〜3万円）
                </strong>
              </td>
            </tr>
            <tr>
              <th>休日・休暇</th>
              <td>
                <strong>
                  年休105日 ＋ 有給 ＝ 年休実質110日以上／年<br>
                  週休2⽇制（第2・4土曜＋日祝）
                </strong>
                <div class="p-recruit-box-item">
                  <small>※その他会社カレンダーによる</small>
                </div>
              </td>
            </tr>
            <tr>
              <th>有給休暇</th>
              <td><strong>夏季・年末年始休暇、慶弔休暇、特別休暇　ほか</strong></td>
            </tr>
            <tr class="no-border">
              <th>福利厚生</th>
              <td>
<strong>社会保険完備、建退共加入、作業服貸与、</strong><br>
<strong>携帯電話・パソコン・社用車貸与</strong>（規定あり）<br>
<strong>定期健康診断／年1回</strong> <small>※会社負担</small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="p-recruit-block">
        <h3 class="p-recruit-headline c-title-border">表彰制度</h3>
        <ol class="p-recruit-box p-recruit-ol">
          <li><strong>1.永年にわたり無事故で継続勤務した場合（10年、20年）</strong></li>
          <li><strong>2.品行方正、技術優秀、業務熱心で他の作業員の模範と認められる場合</strong></li>
          <li><strong>3.災害を未然に防止し、または災害のあった際、特に功労のあった場合</strong></li>
        </ol>
      </div>
    </div>
    <div class="mainContetnts">

        <div class="p-recruit-message">
          <h3 class="c-title-border">代表メッセージ</h3>
          <p class="p-recruit-message-text">
当社は創業以来、半世紀に及ぶ歴史の中で公共工事を主体とした地域のインフラ整備に携わってきました。<br>
私は「経営者は社員を家族の⼀員として共に人生を歩む身内と認識するべき」と考え、「誠実」「継続」を信念としてまいりました。「誠実」とは人を慈しみ思いやる心であり、「継続」とは人間や事業の成長の源となるものです。<br>
これからも住民の皆様の安全で安心な生活に寄与できるよう、社員とともに努力を続けてまいります。
          </p>
        </div>
    </div>
    <div class="p-recruit-labels">
      <ul class="p-recruit-labels-list">
        <li class="p-recruit-labels-item c-label-border">業界経験者優遇</li>
        <li class="p-recruit-labels-item c-label-border">学歴不問</li>
        <li class="p-recruit-labels-item c-label-border">第二新卒歓迎</li>
        <li class="p-recruit-labels-item c-label-border">U・I ターン歓迎</li>
        <li class="p-recruit-labels-item c-label-border">転勤なし</li>
        <li class="p-recruit-labels-item c-label-border">残業月30 時間以内</li>
        <li class="p-recruit-labels-item c-label-border">マイカー通勤可</li>
        <li class="p-recruit-labels-item c-label-border">オフィス内禁煙・分煙</li>
      </ul>
      <p class="p-recruit-labels-text">ご質問・ご相談がございましたら、お気軽にお問合せください。</p>
    </div>

    <div class="mainContetnts">
      <div class="mainContetntsInner p-recruit-contact">
        <h2><img src="img/ttl_04.png" width="346" height="48" alt="Recruitment Contact"></h2>
        <div class="p-recruit-contact-button">
          <a href="./contact" class="c-secondary-button is-large">お問い合わせは<br class="u-sp-only">こちら</a>
        </div>
        <p class="p-recruit-contact-text">電話でのお問い合わせ：<br class="u-sp-only">TEL <strong>082-422-4492<br class="u-sp-only"></strong>（採用担当：沖田・杉原）<br><span class="c-text-small">営業時間：月～金曜日（祝日を除く）<br class="u-sp-only">9：00～17：00</span></p>
        <p class="p-recruit-contact-text">
          <a href="./privacy.html" class="c-text-mini">プライバシーポリシー</a>
        </p>
        <a href="#recruit" class="c-button-top is-gray">TOPへ</a>
      </div>
    </div>

  </section>

<%- include('./include/_footer') %>
