<body class="drawer drawer--right" ontouchstart="">

  <div id="header">
  <div class="innerHeader">
  <h1><a href="index.html"><img src="img/logo.png" width="256" height="43" alt=""/></a></h1>
  <div class="gNavi pc">
  <ul>
  <li class="gnavi01"><a href="philosophy.html">PHILOSOPHY ご挨拶・事業理念</a></li>
  <li class="gnavi02"><a href="company.html">COMPANY 会社案内</a></li>
  <li class="gnavi03"><a href="business.html">BUSINESS 事業案内</a></li>
  </ul>
  </div>
    <!-- ハンバーガー html -->
  <div class="hamburger sp">
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <nav class="globalMenuSp sp">
      <ul>
      <li><a href="index.html">HOME<br>ホーム</a></li>
          <li><a href="philosophy.html">PHILOSPHY<br>ご挨拶</a></li>
          <li><a href="company.html">COMPANY<br>会社案内</a></li>
          <li><a href="business.html">BUSINESS<br>事業案内</a></li>
      </ul>
  </nav>
  <!-- ハンバーガー html END -->
    
  </div>
  </div>
